html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}
#container {
    position: relative;
    height: 100%;
    background: black;
    overflow: hidden;
}
.star {
    position: absolute;
    background: white;
    opacity: .9;
    border-radius: 50%;
    text-align: center;
}
